<span style="color: var(--vscode-foreground);">Melyek azok az autók, amelyeket részletfizetésre vásároltak meg, és az áruk nagyobb az átlagárnál?</span>

In [ ]:
SELECT a.AutoID, a.Szin, a.Ar
FROM Autok a
JOIN Vetel v ON a.AutoID = v.Kocsi
WHERE v.FizetesiMod = 'reszlet'
AND a.Ar > 
(
    SELECT AVG(Ar)
    FROM Autok
)

Azoknak a vevőknek a neve listázva, akik már vásároltak legalább egy fehér színű autót.

In [ ]:
SELECT v.Nev
FROM Vevo v
WHERE EXISTS 
(
    SELECT *
    FROM Vetel vt
    JOIN Autok a ON vt.Kocsi = a.AutoID
    WHERE vt.Vevo = v.VevoID
    AND a.Szin = 'Fehér'
)

Melyek azok az üzletkötők, akik legalább két különböző vásárlást bonyolítottak le?

In [ ]:
SELECT u.Nev, COUNT(*) AS EladasokSzama
FROM Vetel v
JOIN Uzletkoto u ON v.Uzletkoto = u.UzletkotoID
GROUP BY u.Nev
HAVING COUNT(*) >= 2

Mely vevők vettek "elektromos" meghajtású autót?

In [ ]:
SELECT v.Nev
FROM Vevo v
WHERE v.VevoID IN 
(
    SELECT vt.Vevo
    FROM Vetel vt
    JOIN Autok a ON vt.Kocsi = a.AutoID
    JOIN Meghajtas m ON a.Meghajtas = m.MeghajtasID
    WHERE m.Uzemanyag = 'elektromos'
)

Milyen márkájú autókat adtak el legalább kétszer?

In [ ]:
SELECT mo.Marka, COUNT(*) AS EladasokSzama
FROM Vetel v
JOIN Autok a ON v.Kocsi = a.AutoID
JOIN Modell mo ON a.Modell = mo.ModellID
GROUP BY mo.Marka
HAVING COUNT(*) >= 2

Mely üzletkötők adtak el olyan autót, amelynek ára nagyobb, mint az összes autó közül a legkisebb ár?

In [ ]:
SELECT u.Nev
FROM Uzletkoto u
WHERE EXISTS 
(
    SELECT *
    FROM Vetel v
    JOIN Autok a ON v.Kocsi = a.AutoID
    WHERE v.Uzletkoto = u.UzletkotoID
    AND a.Ar > 
    (
      SELECT MIN(Ar)
      FROM Autok
    )
)